.fullScreen {
    text-align: center;
    background-color: #fbfbfd;
}

.rectangle {
    width: 100%;
    height: 210px;
   
    margin: 0 0 59px;
    background-image: linear-gradient(to bottom, var(--white), rgba(255, 255, 255, 0) 50%);
    background-size: cover;
  }

.logoUrl {
    border-radius: 50%;
    box-sizing: border-box;
    width: 100px;
    object-fit: contain;
    background-color: #1A1915;
    border: 5px solid #ffffff;
}


.container {
    position: relative;
    top: -120px;
    width: 80%;
    margin-left: 10%;
   
}

.dName {
    font-family: 'Inter';
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 7px;
    color: #000;
}

.dAddress {
    font-family: 'Inter';
    font-size: 20px;
    color: #7f7f7f;
    display: block;
    margin-bottom: 50px;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer {
    
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    
  font-family: 'Inter';
  font-size: 12px;

  color: #a1a1a1;
}

.footerSpan {
    margin-right: 11px;
   
}

.appStoreLogo {
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 40px;
}

.googleDiv {
    display: flex;
    align-items: center;
}

.inputDiv {
    margin-top: 55px;
    margin-bottom: 30px;
    display: inline;
    margin-right: 12px;
}

.nameInput {
    padding: 20px;
    padding-left: 40px;
    border-radius: 2%;
    border: 1px solid grey;
    width: 300px;
}

.searchIcon {
    position: relative;
    left: 25px;
}

.selectDiv {
    display: inline;
    margin-left: 10px;
    font-size: 14px;
   
}

.selectInput {
    padding: 20px;
    font-size: 14px;
    border-radius: 2%;
    border: 1px solid grey;
    width: 300px;
    margin-left: 2px;
}

.formsDiv {
    text-align: left;
    margin-left: 20px;
}